<div class="col-md-3 col-sm-4 sidebar">
    <ul class="nav nav-stacked nav-pills">
        
        <li class="disabled">
            <a href="#">Aveiro</a>
        </li>
        <li>
            @Html.ActionLink("History", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Aveiro as distrito", "Index", "Home")
        </li>
       
        <li class="disabled">
            <a href="#">@*Rest in Aveiro*@</a>
            @Html.ActionLink("Rest in Aveiro", "Rest", "Utilities")
        </li>
        <li>
            @Html.ActionLink("Hotels", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Hostels", "Index", "Home")
        </li>
        <li class="disabled">
            @*<a href="#">Food in Aveiro</a>*@
            @Html.ActionLink("Food in Aveiro", "Food", "Utilities")
        </li>
        <li>
            @Html.ActionLink("Restaurantes", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Places", "Index", "Home")
        </li>
        <li class="disabled">
            @*<a href="#">Fun in Aveiro</a>*@
            @Html.ActionLink("Fun in Aveiro", "Fun", "Utilities")
        </li>
        <li>
            @Html.ActionLink("Travel", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Night", "Index", "Home")
        </li>
        <li class="disabled">
            <a href="#">Ajuda</a>
        </li>
        @*<li>
            @Html.ActionLink("Contactos", "Contact", "Home")
        </li>*@
        <li>
            @Html.ActionLink("FAQ", "About", "Home")
        </li>
    </ul>
</div>
