<div class="col-md-3 col-sm-4 sidebar">
    <ul class="nav nav-stacked nav-pills">
        
        <li class="disabled">
            @Html.ActionLink("Rest in Aveiro", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Interest Points", "Aveiro", "Home")
        </li>
        <li class="disabled">
            @Html.ActionLink("Rest in Aveiro", "Rest", "Utilities")
        </li>
        <li>
            @Html.ActionLink("Hotel", "Hotels", "RestTypes")
        </li>
        <li>
            @Html.ActionLink("Hostel", "Hostels", "RestTypes")
        </li>
        <li class="disabled">
            @Html.ActionLink("Food in Aveiro", "Food", "Utilities")
        </li>
        <li>
            @Html.ActionLink("Restaurants", "Restaurants", "FoodTypes")
        </li>
        <li class="disabled">
            @Html.ActionLink("Fun in Aveiro", "Fun", "Utilities")
        </li>
        <li>
            @Html.ActionLink("Bars & Pubs", "BarsPubs", "FunTypes")
        </li>
        <li>
            @Html.ActionLink("Beach", "Beach", "FunTypes")
        </li>
        <li>
            @Html.ActionLink("Museum", "Museum", "FunTypes")
        </li>
        <li>
            @Html.ActionLink("Outdoor Activities", "OutdoorActivities", "FunTypes")
        </li>
        
    </ul>
</div>
