@model IEnumerable<MyAveiro.Models.Utilities>

@{
    ViewBag.Title = "Hotel List";
}
<div class="container">
    <div class="row">
        @Html.Partial("~/Views/Shared/_SideBar.cshtml")

        <div class="col-md-9 col-sm-8">
            <h1 class="page-header">
                Hotel
                <small> Details</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Main Page", "Index", "Home")

                </li>
            </ol>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Acronym")
                    </th>
                    <th>
                        @Html.DisplayName("Address")
                    </th>
                    <th>
                        @Html.DisplayName("Phone number")
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th>
                        @Html.DisplayName("URL")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Acronym)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.URLSite)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "HotelDetails", new { id = item.ID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>




